@media (max-width: 1230px) {
  .page-404 {
    &__img {
      width: 40%;
    }
  }
  .person,
  .latest-post {
    display: none;
  }
  .blog-page {
    .filter-category, 
    .filter-popular {
      display: none;
    }
    &__inner {
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
    &__aside {
      width: 100%;
      order: -1;
    }
  }
  .filter-search {
    padding: 25px;
    &__input {
      width: 100%;
    }
  }
  .shop {
    &__inner {
      display: block;
    }
    &__filters {
      position: absolute;
      z-index: 100;
      top: 20px;
      left: 0;
      display: none;
      background-color: #fff;
      width: 100%;
      margin-right: 0;
    }
    &__filter-btn {
      position: fixed;
      right: 0;
      bottom: 50px;
      z-index: 101;
      display: block;
      width: 50px;
      height: 50px;
      background-color: $accent;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
  }
  .shop-content {
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    &__nogrid {
      display: flex;
    }
  }
}

@media (max-width: 1100px) {
  .contact {
    &__inner {
      display: block;
    }
    &__info {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &__form {
      padding: 0;
      box-shadow: none;
    }
    &__form-box {
      display: block;
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .page-404 {
    &__img {
      display: none;
    }
  }
}

@media (max-width: 860px) {
  .shop-content {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 700px) {
  .shop-content {
    &__filter-buttons {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .blog-page {
    padding: 60px 0;
    &__item-box {
      padding: 20px;
    }
    &__img {
      height: 260px;
    }
    .blog-box {
      flex-direction: column;
      gap: 10px;
    }
  }
  .blog-one {
    &__text {
      padding: 10px;
    }
    &__info {
      display: block;
    }
    &__info-item {
      margin-bottom: 5px;
    }
    &__box {
      flex-wrap: wrap;
    }
    .comments-form {
      padding-bottom: 0;
      &__box-input {
        display: block;
        margin: 0;
      }
      &__text-input {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  .shop {
    padding: 60px 0;
  }
  .shop-content {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 450px) {
  .blog-one {
    &__box {
      display: block;
    }
    &__author-img {
      display: none;
    }
    &__text {
      blockquote {
        padding: 10px;
        font-size: 18px;
      }
    }
  }
  .comments {
    &__img {
      display: none;
    }
  }
  .map {
    padding: 60px 0;
  }
  #map {
    height: 250px;
  }
  .contact {
    padding-bottom: 60px;
    &__info-title {
      font-size: 28px;
      line-height: 34px;
    }
  }
  .pagination {
    &__arrows {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .blog-page {
    &__item-box {
      padding: 10px 5px;
    }
    &__img {
      height: 170px;
    }
    &__slider {
      .slick-next {
        right: 10px;
      }
      .slick-prev {
        left: 10px;
      }
    } 
  }
  .filter-search {
    padding: 25px 10px;
  }
  .contact {
    &__info-text {
      margin-bottom: 30px;
    }
    &__info-item {
      padding-left: 60px;
      margin-top: 30px;
      &::before {
        top: 1px;
        width: 50px;
        height: 50px;
      }
      &::after {
        top: 16px;
        left: 16px;
      }
    }
  }
}